@using RPGHexplorer.Common.Terrain
@inject ToolState ToolState
@inject MapState MapState

@foreach (var terrainType in MapState.TerrainTypes)
{
    <button
        class="sidebar-grid-button btn @(ToolState.CurrentTerrainTypeId == terrainType.Id ? "active" : "")"
        style="background-color: @terrainType.BackgroundColorHex"
        onclick="@(() => ToolState.SelectTerrain(terrainType.Id))">
        @terrainType.Name
    </button>
}