@inject ToolState ToolState

@foreach (var terrainType in TerrainType.All)
{
    <button
        class="sidebar-grid-button btn @(ToolState.CurrentTerrainTypeId == terrainType.Id ? "active" : "")"
        style="background-color: @terrainType.ColorHex"
        onclick="@(() => ToolState.SelectTerrain(terrainType.Id))">
        @terrainType.Name
    </button>
}