@page "/encounters/{EncounterId}"
@page "/encounters/create-new"
@using RPGHexplorer.Common.Encounters

<div class="container">

    <EditForm Model="@Encounter" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="name" bind-Value="@Encounter.Name" />
        
        <InputTextArea id="details" bind-Value="@Encounter.Details" />

        <button type="submit">Submit</button>
    </EditForm>
</div>

@functions{
    [Parameter]
    public string EncounterId { get; set; }

    [Inject]
    public IEncounterService EncounterService { get; set; }
    
    public Encounter Encounter { get; set; } = new Encounter();
    
    protected override async Task OnInitAsync()
    {
        if (!string.IsNullOrEmpty(EncounterId))
        {
            Encounter = await EncounterService.GetEncounterAsync(EncounterId);
        }
    }

    private async Task Save()
    {
        await EncounterService.SaveEncounterAsync(Encounter);
    }

}