@page "/"
@using RPGHexplorer.Common.TileMaps
@inject HttpClient Http

<h1>@tileMap?.Map.Name Map</h1>

<button onclick="@CreateTestMap">Create test map</button>
<button onclick="@ReloadTileMap">Load test map</button>


<TileMapComponent TileMap="@tileMap"></TileMapComponent> 


@functions{

    private TileMap tileMap;

    private List<Tile> Tiles => tileMap?.Tiles ?? new List<Tile>();

    private async Task CreateTestMap()
    {
        tileMap = await Http.PostJsonAsync<TileMap>("/api/tilemap", null);
    }
    
    private async Task ReloadTileMap()
    {
        tileMap = await Http.GetJsonAsync<TileMap>("/api/tilemap/test");
    }

}
