@page "/"

<h1>@MapName Map</h1>

<button onclick="@CreateTestMap">Create test map</button>


<TileMapComponent Tiles="@Tiles"></TileMapComponent> 


@functions{
               
    private TileMap TileMap { get; set; }

    private string MapName => TileMap?.Map.Name ?? "Unknown";

    private List<Tile> Tiles => TileMap?.Tiles ?? new List<Tile>();
    
    protected override async Task OnInitAsync()
    {
        //await ReloadTileMap();
    }

    private async Task CreateTestMap()
    {
        await ReloadTileMap();
    }
    
    private async Task ReloadTileMap()
    {
    }

}
