@inherits BlazorLayoutComponent
@inject ToolState ToolState

<div id="app" onmouseup="@OnMouseUp">
    <div class="toolbar">
        <ToolBar></ToolBar>
    </div>
    
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">RPGHexplorer</span>
            <MapManager></MapManager>
        </nav>
    
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@functions
{

    private void OnMouseUp()
    {
        ToolState.StopDragging();
    }

}
