@using RPGHexplorer.Common.Terrain
@inject MapState MapState

@if (MapState.Map != null)
{
    <svg width="600" height="600" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
        @foreach (var tile in MapState.Tiles.Values)
        {
            <TileComponent 
                Tile="@tile" 
                Layout="@Layout" 
                TerrainType="@GetTerrainType(tile)"
            ></TileComponent>
        }
    </svg>
}
else
{
    <p>No map</p>
}

@functions
{
    private List<TerrainType> TerrainTypes { get; set; } = new List<TerrainType>();

    private Layout Layout = new Layout(Orientation.Flat, new Point(20, 20),new Point(250, 250));

    
    protected override void OnInit()
    {
        TerrainTypes = TerrainType.All.ToList();
        
        MapState.OnTilesChange += StateHasChanged;
    }

    private TerrainType GetTerrainType(Tile tile)
    {
        return TerrainTypes.FirstOrDefault(t => t.Id == tile.TerrainTypeId) ?? new TerrainType
        {
            Id = "nothing",
            Name = "Nothing",
            BackgroundColorHex = "grey"
        };
    }

}