@inject ToolState ToolState
@using RPGHexplorer.Web.Shared.SideBarPanels

<div class="border rounded">
    @if (ToolState.IsView)
    {
        <ViewPanel></ViewPanel>
    }
    else if (ToolState.IsTerrain)
    {
        <TerrainPanel></TerrainPanel>
    }
</div>

@functions
{
    protected override void OnInit()
    {
        ToolState.OnToolChange += StateHasChanged;
    }
}
